@page "/Register"
@model RegisterModel
@{
    ViewBag.Title = "Register New Account";
    ViewData["Active"] = "Register";
}


@* <div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Create a new account.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.Password"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.ConfirmPassword"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to register.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div> *@

<div class="container">
    <section id="formHolder">
        <div class="row">
            <div class="col-sm-6 brand">
                <a href="/" class="logo">Testimonial Slider</a>
                <div class="heading">
                    <h2>Register/Login</h2>
                    <p>Share Your Experience!</p>
                </div>
            </div>
            <div class="col-sm-6 form">
                <div class="login form-peice switched">
                    <form asp-route-returnUrl="@Model.ReturnUrl" class="login-form" method="post">
                        <div asp-validation-summary="ModelOnly"></div>
                        <div class="form-group">
                            <label for="name">First Name</label>
                            <input type="text" name="firstname" id="firstname" class="appfirstname" asp-for="Input.FirstName">
                            <span asp-validation-for="Input.FirstName" class="error"></span>
                        </div>
                        <div class="form-group">
                            <label for="name">Last Name</label>
                            <input type="text" name="lastname" id="lastname" class="applastname" asp-for="Input.LastName">
                            <span asp-validation-for="Input.LastName" class="error"></span>
                        </div>

                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" name="Email" id="email" class="appemail" asp-for="Input.Email">
                            <span asp-validation-for="Input.Email" class="error"></span>
                        </div>

                        <div class="form-group">
                            <label for="phone">Phone Number </label>
                            <input type="text" name="userphone" id="userphone" class="appuserphone" asp-for="Input.UserPhone">
                            <span asp-validation-for="Input.UserPhone" class="error"></span>
                        </div>

                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" name="password" id="password" class="apppass" asp-for="Input.Password">
                            <span asp-validation-for="Input.Password" class="error"></span>
                        </div>

                        <div class="form-group">
                            <label for="passwordCon">Confirm Password</label>
                            <input type="password" name="ConfirmPassword" id="passwordCon" class="apppassConfirm" asp-for="Input.ConfirmPassword">
                            <span class="error" asp-validation-for="Input.ConfirmPassword"></span>
                        </div>
                        <div class="CTA">
                            <input type="submit" value="Register">
                            <a href="#" class="switch">Admin Register</a>
                        </div>
                    </form>
                </div>
                <div class="signup form-peice">
                    <form asp-route-returnUrl="@Model.ReturnUrl" method="post" class="signup-form">
                        <span asp-validation-summary="ModelOnly" class="error"></span>
                        <div class="form-group">
                            <label asp-for="Input.FirstName">First Name</label>
                            <input type="text" name="firstname" id="firstname" class="firstname" asp-for="Input.FirstName">
                            <span asp-validation-for="Input.FirstName" class="error"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.LastName">Last Name</label>
                            <input type="text" name="lastname" id="lastname" class="lastname" asp-for="Input.LastName">
                            <span asp-validation-for="Input.LastName" class="error"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Input.Email">Email</label>
                            <input type="email" name="email" id="email" class="email" asp-for="Input.Email">
                            <span asp-validation-for="Input.Email" class="error"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Input.UserPhone">Phone Number </label>
                            <input type="text" name="userphone" id="userphone" class="userphone" asp-for="Input.UserPhone">
                            <span asp-validation-for="Input.UserPhone" class="error"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Input.Password">Password</label>
                            <input type="password" name="password" id="password" class="pass" asp-for="Input.Password">
                            <span asp-validation-for="Input.Password" class="error"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                            <input type="password" name="ConfirmPassword" id="passwordCon" class="passConfirm" asp-for="Input.ConfirmPassword">
                            <span class="error" asp-validation-for="Input.ConfirmPassword"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Input.UserTypeName">Admin Type <small>Admin or Super Admin</small></label>
                            <input type="text" name="usertypename" id="usertypename" class="usertypename" asp-for="Input.UserTypeName">
                            <span class="error" asp-validation-for="Input.UserTypeName"></span>
                        </div>

                        <div class="CTA">
                            <input type="submit" id="registerSubmit" value="Admin Register">
                            <a href="#" class="switch">Applicant Register</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
